wheel
setuptools
sqlalchemy==1.4.50
sqlalchemy-utils==0.41.1
fastapi[all]==0.104.1
databases[postgresql]==0.8.0
uvicorn==0.24.0.post1
psycopg2-binary==2.9.9
requests==2.31.0
starlette-context==0.3.6
starlette==0.27.0
dramatiq==1.15.0
pydantic==2.4.2
pydantic-extra-types==2.2.0
pydantic-settings==2.1.0
pydantic_core==2.10.1
redis==5.0.1
pgvector==0.2.5
pdfminer.six==20231228
pytesseract==0.3.10
numpy==1.26.4
fpdf==1.7.2
PyMuPDF==1.22.0
transformers==4.44.2
pypdf2==3.0.1
torch==2.4.0
scikit-learn==1.5.1